<div class="jumbotron">
  <h2>{{model.content}}</h2>
  <p><small>by {{model.author}}</small></p>
  <hr>
  <p><small>Notes {{model.notes}}</small></p>
  {{#each model.answers as |answer|}}
  <div class="alert alert-info" role="alert">
    <p><small>{{answer.author}} says: {{answer.content}}</small></p>
  </div>
  {{/each}}
  {{new-answer-tile saveAnswer="saveAnswerToQuestion" question=model}}
</div>
